@charset "UTF-8";
/*Estilo para tela*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header{
    background-color: rgb(128, 128, 167);
}

menu ul{
    list-style-type: none;
    background-color: rgb(53, 78, 78);
    padding: 10px;
}

menu li{
    display: inline-block;
}
article{
    width: 600px;
    display: block;
    margin: auto
}